<h1>{{title}}</h1>
<form ng-submit="updateEmployee()">
  <div class="mb-3">
    <label class="form-label">Họ Tên</label>
    <input
      type="text"
      class="form-control"
      ng-model="employee.ho_ten"
      disabled
    />
    <span class="text-danger" ng-if="validate.ho_ten">{{validate.ho_ten}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">SĐT</label>
    <input type="text" class="form-control" ng-model="employee.sdt" disabled />
    <span class="text-danger" ng-if="validate.sdt">{{validate.sdt}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      ng-model="employee.email"
      disabled
    />
    <span class="text-danger" ng-if="validate.email">{{validate.email}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">Chức Vụ</label>
    <select class="form-select" ng-model="employee.chuc_vu" disabled>
      <option value="Trưởng phòng">Trưởng phòng</option>
      <option value="Nhân viên">Nhân viên</option>
      <option value="Giám đốc">Giám đốc</option>
    </select>
    <span class="text-danger" ng-if="validate.chuc_vu"
      >{{validate.chuc_vu}}</span
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Ngày Đăng</label>
    <input
      type="date"
      class="form-control"
      ng-model="employee.ngay_sinh"
      disabled
    />
    <span class="text-danger" ng-if="validate.ngay_sinh"
      >{{validate.ngay_sinh}}</span
    >
  </div>

  <a href="#!/list-employee" class="btn btn-secondary"><-- Quay Lại</a>
</form>
