<h1>{{title}}</h1>
<form ng-submit="addBook()">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mã Sách</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      ng-model="book.bookID"
    />
    <span class="text-danger fw-bold" ng-if="checkForm.bookID"
      >Vui lòng nhập Mã Sách!</span
    >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tên Sách</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      ng-model="book.name"
    />
    <span class="text-danger fw-bold" ng-if="checkForm.name"
      >Vui lòng nhập Tên Sách, Tên sách phải trên 10 ký tự!</span
    >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Loại Sách</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      ng-model="book.type"
    />
    <span class="text-danger fw-bold" ng-if="checkForm.bookID"
      >Vui lòng nhập Loại Sách!</span
    >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Giá Sách</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      ng-model="book.price"
    />
    <span class="text-danger fw-bold" ng-if="checkForm.price"
      >Vui lòng nhập Giá Sách, giá sách phải trên 10.000!</span
    >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Số Lượng Sách</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      ng-model="book.quantity"
    />
    <span class="text-danger fw-bold" ng-if="checkForm.quantity"
      >Vui lòng nhập Số Lượng Sách, Số lượng sách phải là số!</span
    >
  </div>

  <a href="#!/Trang-Chu" class="btn btn-secondary "><-- Quay Lại</a>
  <button type="submit" class="btn btn-primary">Thêm Mới</button>
</form>
