<h1>{{title}}</h1>

<form ng-submit="addEmployee()">
  <div class="mb-3">
    <label class="form-label">Họ và Tên</label>
    <input type="text" class="form-control" ng-model="employee.ho_ten" />
    <span class="text-danger" ng-if="validate.ho_ten">{{validate.ho_ten}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">Số Điện Thoại</label>
    <input type="text" class="form-control" ng-model="employee.sdt" />
    <span class="text-danger" ng-if="validate.sdt">{{validate.sdt}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" ng-model="employee.email" />
    <span class="text-danger" ng-if="validate.email">{{validate.email}}</span>
  </div>

  <div class="mb-3">
    <label class="form-label">Chức Vụ</label>
    <select class="form-select" ng-model="employee.chuc_vu">
      <option value="Trưởng Phòng">Trưởng Phòng</option>
      <option value="Nhân Viên">Nhân Viên</option>
      <option value="Giám Đốc">Giám Đốc</option>
    </select>
    <span class="text-danger" ng-if="validate.chuc_vu"
      >{{validate.chuc_vu}}</span
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Ngày Sinh</label>
    <input type="date" class="form-control" ng-model="employee.ngay_sinh" />
    <span class="text-danger" ng-if="validate.ngay_sinh"
      >{{validate.ngay_sinh}}</span
    >
  </div>

  <a href="#!/employee/list"
    ><button class="btn btn-secondary">Quay Lại</button></a
  >
  <button type="submit" class="btn btn-primary">Thêm Mới</button>
</form>
